services:
  crafty:
    container_name: crafty_container
    image: registry.gitlab.com/crafty-controller/crafty-4:latest
    restart: unless-stopped
    environment:
      - TZ=America/New_York
      - JAVA_TOOL_OPTIONS=-Djava.net.preferIPv4Stack=true
    ports:
      # Crafty Panel
      - "8022:8000"
      - "8422:8443"

      # Server 1
      - "8123:8123"
      - "19132:19132/udp"

      # Server 2
      - "8122:8122"
      - "19122:19122/udp"

      # Server 3
      - "8121:8121"
      - "19131:19131/udp"

      # Server 4
      - "8124:8124"
      - "19134:19134/udp"
    volumes:
      - ${CRAFTY_DIRECTORY}/docker/backups:/crafty/backups
      - ${CRAFTY_DIRECTORY}/docker/logs:/crafty/logs
      - ${CRAFTY_DIRECTORY}/docker/servers:/crafty/servers
      - ${CRAFTY_DIRECTORY}/docker/config:/crafty/app/config
      - ${CRAFTY_DIRECTORY}/docker/import:/crafty/import
    deploy:
      resources:
        limits:
          cpus: '5.0'
          memory: 20g
    dns:
      - 8.8.8.8
      - 1.1.1.1

  haproxy:
    image: haproxy:latest
    container_name: minecraft-haproxy
    environment:
      - TZ=America/New_York
    ports:
      - "25565:25565/tcp"  # Server 1
      - "25562:25562/tcp"  # Server 2
      - "25563:25563/tcp"  # Server 3
      - "25564:25564/tcp"  # Server 4
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    restart: unless-stopped

  listener-notifier:
    build:
      context: .
      dockerfile: src/listener/Dockerfile
    container_name: listener-notifier
    depends_on:
      - crafty
    restart: always
    volumes:
      - ./src:/app/src:ro
      - ${CRAFTY_DIRECTORY}/docker/servers:/servers:ro
      - ${CRAFTY_DIRECTORY}/docker/config/db:/crafty_db:ro
    env_file: .env
    environment:
      TZ: America/New_York

