services:
  crafty:
    container_name: crafty_container
    image: registry.gitlab.com/crafty-controller/crafty-4:latest
    restart: unless-stopped
    environment:
      - TZ=America/New_York
      - JAVA_TOOL_OPTIONS=-Djava.net.preferIPv4Stack=true
    ports:
      # Crafty Panel
      - "8022:8000"
      - "8422:8443"

      # Server - Alternate
      - "8122:8122"
      - "19122:19122/udp"

      # Server - Main
      - "8123:8123"
      - "19132:19132/udp"
    volumes:
      - ${CRAFTY_DIRECTORY}/docker/backups:/crafty/backups
      - ${CRAFTY_DIRECTORY}/docker/logs:/crafty/logs
      - ${CRAFTY_DIRECTORY}/docker/servers:/crafty/servers
      - ${CRAFTY_DIRECTORY}/docker/config:/crafty/app/config
      - ${CRAFTY_DIRECTORY}/docker/import:/crafty/import
    deploy:
      resources:
        limits:
          cpus: '5.0'
          memory: 20g
    dns:
      - 8.8.8.8
      - 1.1.1.1

  haproxy:
    image: haproxy:latest
    container_name: minecraft-haproxy
    ports:
      - "25565:25565/tcp"  # Java
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    restart: unless-stopped

  listener-main:
    build: src/listener
    container_name: listener-main-notifier
    depends_on:
      - crafty
    restart: always
    volumes:
      - ./src/listener:/app:ro
      - ${CRAFTY_DIRECTORY}/docker/servers/${SERVER_MAIN_UUID}/logs:/logs:ro
    env_file: .env
    environment:
      SERVER_NAME: Main
      SERVER_UUID: ${SERVER_MAIN_UUID}

  listener-alt:
    build: src/listener
    container_name: listener-alt-notifier
    depends_on:
      - crafty
    restart: always
    volumes:
      - ./src/listener:/app:ro
      - ${CRAFTY_DIRECTORY}/docker/servers/${SERVER_ALTERNATE_UUID}/logs:/logs:ro
    env_file: .env
    environment:
      SERVER_NAME: Alternate
      SERVER_UUID: ${SERVER_ALTERNATE_UUID}

